@tailwind base;
@tailwind components;
@tailwind utilities;

#video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.menu-frame {
  border: none;
  height: 150vh;
  flex: 1;
  max-width: 514px;
  max-height: 700px;
  overflow: scroll;
  border: 1px solid #323232;
  border-radius: 8px;
}

.skip-button {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-weight: bold;
  border-radius: 8px;
  padding: 5px 10px;
  border: none;
}

#extensions {
  transition: opacity 0.75s ease;
}

#extensions.animate-in {
  opacity: 1;
}

#extensions.animate-out {
  opacity: 0;
}

#main {
  transition: filter 0.75s ease;
}

#main.animate-in {
  opacity: 0.7;
  filter: blur(5px);
}

#main.animate-out {
  opacity: 1;
  filter: blur(0px);
}

a {
  color: inherit;
  text-decoration: underline;
}

.show-bevo {
  visibility: visible !important;
  opacity: 1 !important;
}

.hiddenElm {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
}

.hidden {
  display: none;
  opacity: 0;
  max-height: 0;
}

/* Extension */

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  cursor: pointer;
  background-color: #041E42 ;
  accent-color: #041E42 ;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 25px;
  border: 0;
  cursor: pointer;
  background-color: #041E42;
  accent-color: #041E42;
}

.centered {
  display: flex;

  flex-grow: 1;
}

/* Credits to W3Schools for the open-source switches */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The toggle slider container */
.toggleslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;  /* Default grey background */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* The toggle slider circle (thumb) */
.toggleslider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3.5px;
  bottom: 2.8px;
  background-color: white;  /* White thumb */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* When the input is checked, change the background color to PSU blue */
input:checked + .toggleslider {
  background-color: #041E42;
}

/* Add a focus effect on the toggle slider */
input:focus + .toggleslider {
  box-shadow: 0 0 1px #041E42;
}

/* Move the slider thumb to the right when checked */
input:checked + .toggleslider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Optional: Make the toggle slider rounded */
.toggleslider.round {
  border-radius: 34px;
}

.toggleslider.round:before {
  border-radius: 50%;
}
